{%- style -%}
.testimonial-{{ section.id }} .testrating svg{
  fill: {{ section.settings.star_ratingclr }};
}
.testimonial-{{ section.id }}{
    background-color: {{ section.settings.wbtest_bgcolor }};
}
.testimonial-{{ section.id }} .heading, .testimonial-{{ section.id }} .wbtestisub h3,.testimonial-{{ section.id }} .wbtestisub strong {
    color: {{ section.settings.wbtest_color }};
}
.testimonial-{{ section.id }} .wbtestisub p {
    color: {{ section.settings.wbtest_color }};
}
.section-{{ section.id }}-padding {
    padding-top: {{ section.settings.padding_top }}px;
    padding-bottom: {{ section.settings.padding_bottom }}px;
}
@media screen and (max-width: 991px) {
    .section-{{ section.id }}-padding {
        padding-top: {{ section.settings.padding_top | times: 0.5 | round: 0 }}px;
        padding-bottom: {{ section.settings.padding_bottom | times: 0.5 | round: 0 }}px;
    }
}
{%- endstyle -%}
<div class="section-{{ section.id }}-padding">
<div class="testimonial testimonial-{{ section.id }}">
<div class="page-width">
    {%- if section.settings.title != blank -%}
      <h2 class="text-center heading {{ section.settings.heading_size }}"><span>{{ section.settings.title | escape }}</span></h2>
    {%- endif -%}
  {% if section.blocks.size > 0 %}
      <slider-component>
        <div class="allslideprt slider row rless" id="Slider-{{ section.id }}-{{ block.id }}">
        {% for block in section.blocks %}
          <div class="col-xl-4 col-lg-6 col-md-6 col-sm-6 col-12 cless slider__slide" id="Slide-{{ section.id }}-{{ block.id }}-{{ forloop.index }}" tabindex="-1">
              <div class="wbtestisub">
                    {% if block.settings.rev_title != blank %}
                      <h3>{{ block.settings.rev_title }}</h3>
                    {% endif %}
                    {% if block.settings.quote != blank %}
                        <p>{{ block.settings.quote }}</p>
                    {% endif %}
                    <div class="{{ section.settings.image_corners }}">
                      {% if block.settings.image != blank %}
                          <img class="img-fluid mx-auto lazyload" src="{{ block.settings.image | image_url: width: 70, height: 70 }}" alt="{{ block.settings.image.alt | escape }}"/>
                      {% else %}
                        <div class="dummysvg">{{ 'image' | placeholder_svg_tag: 'placeholder-svg' }}</div>
                      {% endif %}
                    </div>
                    {% if block.settings.author != blank %}
                      <strong>{{ block.settings.author }}</strong>
                    {% endif %}
                    <div class="testrating">
                      {%- liquid
                        assign wbtrating = block.settings.star_rating | floor
                        assign wbratinghalf = block.settings.star_rating | floor | minus: block.settings.star_rating
                      -%}
                      {%- for i in (1..wbtrating) -%}
                        {% render 'icon-star' %}
                      {%- endfor -%}
                      {% if wbratinghalf != 0 %}
                        {% render 'icon-halfstar' %}
                      {% endif %}
                    </div>
              </div>
          </div>
        {% endfor %}
        </div>
        <div class="wbhomesbtn no-js-hidden">
            <button type="button" class="button slider-button slider-button--prev focus-inset" name="previous" aria-label="{{ 'general.slider.previous_slide' | t }}" aria-controls="Slider-{{ section.id }}" data-step="1">{% render 'icon-caret' %}</button>
            <button type="button" class="button slider-button slider-button--next focus-inset" name="next" aria-label="{{ 'general.slider.next_slide' | t }}" aria-controls="Slider-{{ section.id }}" data-step="1">{% render 'icon-caret' %}</button>
        </div>
      </slider-component>
  {% endif %}
</div>
</div>
</div>

{% schema %}
  {
    "name": "Testimonials",
    "max_blocks": 9,
    "disabled_on": {
      "groups": ["header", "footer"]
    },
    "settings": [
        {
            "type": "text",
            "id": "title",
            "label": "t:sections.featured-collection.settings.title.label"
        },
        {
          "type": "select",
          "id": "heading_size",
          "options": [
            {
              "value": "h2",
              "label": "t:sections.all.heading_size.options__1.label"
            },
            {
              "value": "h1",
              "label": "t:sections.all.heading_size.options__2.label"
            },
            {
              "value": "h0",
              "label": "t:sections.all.heading_size.options__3.label"
            }
          ],
          "default": "h0",
          "label": "t:sections.all.heading_size.label"
        },
        {
          "type": "select",
          "id": "image_corners",
          "label": "Image type",
          "options": [
            {
              "value": "original",
              "label": "Original"
            },
            {
              "value": "circle",
              "label": "Circle"
            },
            {
              "value": "rounded",
              "label": "Rounded rectangle"
            }
          ],
          "default": "original"
        },
        {
          "type": "header",
          "content": "Colors"
        },
        {
          "type": "color",
          "id": "wbtest_bgcolor",
          "default": "#F9F9F9",
          "label": "Background"
        },
        {
          "type": "color",
          "id": "wbtest_color",
          "default": "#000000",
          "label": "Text"
        },
        {
          "type": "color",
          "id": "star_ratingclr",
          "label": "Rating color",
          "default": "#ffbb40"
        },
        {
          "type": "header",
          "content": "t:sections.all.padding.section_padding_heading"
        },
        {
          "type": "range",
          "id": "padding_top",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_top",
          "default": 60
        },
        {
          "type": "range",
          "id": "padding_bottom",
          "min": 0,
          "max": 100,
          "step": 4,
          "unit": "px",
          "label": "t:sections.all.padding.padding_bottom",
          "default": 0
        }
    ],
    "blocks": [
      {
        "type": "quote",
        "name": "Testimonial",
        "settings": [
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "text",
            "id": "rev_title",
            "label": "Heading",
            "default": "Review title"
          },
          {
            "type": "text",
            "id": "author",
            "label": "Name",
            "default": "AUTHOR NAME"
          },
          {
            "type": "richtext",
            "id": "quote",
            "label": "Text",
            "default": "<p>Add customer reviews and testimonials to showcase your store's happy customers.</p>"
          },
          {
            "type": "range",
            "id": "star_rating",
            "min": 1,
            "max": 5,
            "step": 0.5,
            "label": "Star rating",
            "default": 5
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Testimonials",
        "blocks": [
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          },
          {
            "type": "quote"
          }
        ]
      }
    ]
  }
{% endschema %}
